---
import Layout from '../../layouts/Layout.astro'
---

<Layout pageTitle='Produce Codes'>
  <section class='cards'>
    <!-- {ProduceData.map((item) => (
      <Card item={item} key={item.upc} />
    ))} -->
  </section>
</Layout>
